* { 
  box-sizing: border-box;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Raleway";
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: "Raleway";
  color: #214e41;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin-bottom: 30px;
}

.subheader{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}

p, .paragraph{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;  
  margin: 0px 0px 30px;
}

.container {
  display: grid;
  justify-items: center;
}

.grid_container {
  width: 100%;
  max-width: 1440px;
  min-height: 6370px;
  display: grid;
  grid-template-areas: "header"         
                        "main"                
                        "footer";  
  grid-template-rows: max-content max-content max-content;
  position: relative;           
}

header {
  width: 100%;
  min-height: 90px;
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.05);
  background-color: #FFF;
  font-family: "Raleway";
  color: #214e41;
}

.nav_container{
  display: flex;
  width: 100%;
  padding: 25px 45px;
  justify-content: space-between;
  align-items: center;
}

.logo_brella{
  justify-content: flex-start;
  line-height: 3px;
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  align-items: flex-end;
  gap: 1px;
}

.navigation{
  justify-content: flex-end;
}

.navigation_wrapper{
  display: flex;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.header_link{
  justify-content: space-around;
  color: #214e41;
  font-weight: 600;
  padding: 0vw 2vw;
  margin: auto;
}

.login_link{
  justify-content: space-around;
  color: #214e41;
  font-weight: 600;
  padding: 0vw 0vw 0vw 2vw;
}

#header_li{
  flex-wrap: nowrap;
}

.button{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  background-color: #43806c;
  border: none;
  margin-left: 50px;
}

.button_link{
  font-weight: 700;
  padding: 9px 15px;
  color: #fff;
  border: 0;
}

main {
  width: 100%;
  grid-area: main;
  display: grid;
  align-items: center;
  background-color: #FFFFFF;  
  grid-template-areas:  "wondering_section"         
                        "advantages_section"                
                        "why_brella_section"
                        "brella_brings_section"
                        "plan_section"
                        "claims_section"
                        "employers_section"
                        "logo_gallery_section"
                        "articles-section"
                        "get_in_touch_section";  
  grid-template-rows: repeat(10, max-content) ;
  position: relative;           
}

.wondering_section{
  grid-area: wondering_section;
  display: flex;
  height: 90vh;
  padding-top: 0;
  padding-bottom: 120px;
  align-items: center;
  background-image: url(Images/wondering.jpg);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wondering_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  align-items: flex-start;
}

.wondering{
  display: flex;
  width: 55%;
  flex-direction: column;
}

.wondering_header_wrapper{
  width: auto;
}

.wondering_header{
  margin-bottom: 40px;
}

h1{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

.wondering_subheader{
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #214E41;
}

.wondering_search {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}


.wondering_search_area{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #fff;
  min-width: 280px;
  padding: 20px 40px 20px 20px;
  color: #222;
  text-align: left;
  white-space: nowrap;
}

.wondering_paragraph{
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.wondering_search_button{
  border: none;
  background-color: transparent;
}

.find_out_link{
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  padding: 20px 35px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #43806c;
  color: #fff;
}

.advantages_section{
  margin-top: -95px;
  margin-bottom: 100px;
  border-radius: 6px;
}

.advantages_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: center;
  align-items: flex-start;
}

.advantages{
  display: grid;
  width: 100%;
  padding: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-radius: 6px;
  background-color: #fff;
  grid-gap: 16px;
  box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
}

.advantages_block{
  display: flex;
}

.advantages_img{
  width: auto;
  height: 45px;
  margin-top: 5px;
  margin-right: 10px;
  padding-top: 0
}

.advantages_header{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
  color: #214E41;
}

.advantages_paragraph{
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
}

.why_brella_section{
  margin-top: 100px;
  margin-bottom: 120px;
}

.why_brella_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: center;
  align-items: flex-start;
}

.why_brella{
  width: 100%;
  display: grid;
  padding-right: 60px;
  padding-left: 60px;
  justify-items: stretch;
  align-items: center;
  grid-column-gap: 60px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.why_brella_plan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subheader {
  height: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  margin: 0px 0px 20px;
}

.action_link{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214E41;
  border-bottom: 2px solid #214E41;
}

.why_brella_statistics{
  display: flex;
  min-height: 432px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.why_brella_statistics_columns{
  display: flex;
  align-items: flex-end;
}

.why_brella_statistics_content{
  margin-bottom: 45px;
  padding: 0px 20px 0px 10px;
}

.why_brella_statistics_60{
  padding: 0px 0px 10px;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #214E41;
}

.why_brella_statistics_text{
  padding: 20px 0px 0px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}

.why_brella_statistics_text_underline{
  text-decoration-line: underline;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}

.why_brella_statistics_text{
  padding-top: 10px;
  padding-right: 20px;
}

.yellow_line{
  display: flex;
  width: 510px;
  height: 2px;
  justify-content: flex-end;
  background-color: #f0a446;
  position: absolute;
}

.why_brella_statistics_columns_wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.why_brella_statistics_columns{
  display: flex;
  align-items: flex-end;
}

.why_brella_columns{
  display: flex;
  align-items: flex-end;
}

.column_text{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #43806C;
}

.column_left{
  height: 150px;
  width: 78px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #43806C;
}

.column_right{
  height: 300px;
  width: 78px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #43806c;
}

.column_text_down{
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #214E41;
}

.why_brella_statistics_paragraph{
  font-size: 13px;
  line-height: 22px;
  color: #757575;
}

.brella_brings_section{
  padding: 120px 0px;
  background: linear-gradient(to right, #E3EEED, #E3EEED 50%, #214E41 50%);
}

.brella_brings{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.brella_brings_articles{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.brella_brings_ul{
  display: flex;
  width: 50%;
  flex-direction: column; 
}

.brella_brings_a{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 5px 9px 0px;
}

.brella_brings_li{
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #43806c;
}

.brella_brings_p{
  font-size: 28px;
  line-height: 42px;
  color: #43806C; 
  margin: 0px;
}

.brella_brings_p_first{
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color:  #214E41; 
  margin: 0px;
}

.brella_brings_img{
  width: 24.4px;
  height: 18.19px;
  width: 30px;
  margin-left: 15px;
}


.brella_brings_right_article{
  width: 50%;
  padding-left: 100px;
  display: block;
  overflow: hidden;
}

.brella_brings_text{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}


.plan_section{
  margin: 120px 0px;
}

.plan_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 100px;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.plan_top{
  width: 100%;
  margin-bottom: 60px;
}

.plan_left_right{
  display: flex;
  flex-direction: row;
}

.plan_left{
  padding-right: 40px;
  width: 50%;
}

.plan_right{
  width: 50%;
  display: flex;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}

.plan_right_img{
  max-width: 100%;
}

.plan_bottom{
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.plan_bottom_header{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
}


.plan_bottom_paragraph{
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
}

.claims{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.claims_device_content{
  display: grid;
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto;
}

.claims_device{
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.claims_device_img{
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 296px;
}

.employers_section{
  padding: 120px 0px;
  background-image: url(Images/employers.jpg);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.employers_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.employers_wrapper2{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.employers{
  margin-right: 100px;
}

.logo_gallery_section{
  padding: 120px 0px;
}

.logo_gallery_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo_gallery_header{
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.logo_gallery{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo_gallery_list{
  overflow: hidden;
  width: auto;
  display: flex;
  flex-direction: row;
}

.logo_link{
  padding: 0px 40px;
}

.logo_img{
  width: auto;
  height: 60px;
}

.articles_section{
  padding: 120px 0px;
}

.articles_wrapper{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.articles{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.article{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.article_img{
  width: auto;
  height: 236px;
}

.article_subheader{
  margin: 20px 0px 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}

.article_header{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #214E41;
}

.get_in_touch{
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e3eeed;
  position: relative;
}

.get_in_touch_img_wrapper{
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  width: 50%;
}

.get_in_touch_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.get_in_touch_content_wrapper{
  align-items: flex-end;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
}

.get_in_touch_content{
  width: 50%;
  padding-left: 120px;
}

.button_get_in_touch{
  margin: 0px;
  max-width: 125px;
}

.footer_section {
  padding-top: 100px;
  padding-bottom: 50px;
  align-items: flex-start;
  background-color: #214e41;
}

.footer{
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer_top{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100%;
  margin-bottom: 70px;
  padding-bottom: 70px;
  grid-template-rows: auto;
  border-bottom: 1px solid #fff;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.footer_top_left_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.footer_logo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer_logo_link{
  max-width: 100%;
  display: inline-block;
}

.footer_logo_img{
border: 0;
max-width: 100%;
vertical-align: middle;
display: inline-block;
}

.footer_header{
  margin-bottom: 15px;
  color: #fff;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: .02px;
  text-transform: uppercase;
  font-size: 14px;
}

.footer_nav{
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
}

.footer_link{
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  background-color: transparent;
}

.footer_paragraph{
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.footer_form_wrapper{
  margin-bottom: 30px;
}

.footer_form{
  display: flex;
  margin-bottom: 10px;
  height: 50px;
}

.footer_form_input{
  width: 100%;
  height: 100%;
  padding: 25px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.footer_form_submit{
  height: 100%;
  width: 50px;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #fff;
  background-image: url(Images/footer_right.svg);
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  color: transparent;
}

.footer_social{
  display: flex;
  align-items: center;
}

.footer_social_link{
  margin-right: 25px;
  max-width: 100%;
}

.footer_social_logo{
  width: 26px;
}

.footer_terms{
  margin-bottom: 90px;
}


.footer_terms_bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer_terms_bottom_privacy_service{
  display: flex;
  align-items: center;
  color: #214e41;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#footer_terms_paragraph_border{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.footer_terms_paragraph{
  color: #fff;
  font-size: 14px;
}
@font-face {
  font-family: "Raleway";
  src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('Raleway/static/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Æ’;
  src: url('Raleway/static/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}




